{% extends "base.html" %}

{% block content %}

    <h1>Convention vote</h1>
        <div class="one-third column">
            <h3>About</h3>
            <p>
                The purpose of this page is to facilitate the referendum at Bedford
                Baptist Church on the matter of whether or the church should join
                the Convention of Atlantic Baptist Churches.
            </p>
            <p>
                If you are a member of Bedford Baptist Church, you may and are
                encouraged to vote in this referendum. Voting ends at 8:00pm ADT,
                June 13, 2011.
            </p>
            <p>
                If you have submitted the wrong vote by accident, please email
                the <a href="mailto:office@bedfordbaptist.ca">church office</a>
                as soon as possible. They will cancel your vote and then you
                can resubmit it.
            </p>
        </div>

        <div class="two-thirds column">
            {% block main %}
            {% endblock %}
        </div>
{% endblock %}
