{% extends "base.html" %}

{% block content %}

    <h1>Bedford Baptist Church Convention Vote</h1>
        <div class="six columns">
            <h3>About</h3>
            <p>
                The purpose of this page is to facilitate the referendum at Bedford
                Baptist Church on the matter of whether or not the church should join
                the newly incorporated Convention of Atlantic Baptist Churches.
            </p>
            <p>
                If you are a member of Bedford Baptist Church, you may and are
                encouraged to vote in this referendum. Voting starts at 8:00am ADT,
                June 13, 2011, and ends at 8:00pm the same day.
            </p>
            <p>
                If you have submitted the wrong vote by accident, please email
                the church office 
                (<a href="mailto:office@bedfordbaptist.ca"> office@bedfordbaptist.ca</a>)
                as soon as possible.  Once you have received confirmation that your vote has
                been cancelled, you may resubmit your vote.
            </p>
            <p>
                Back to <a href="http://www.bedfordbaptist.ca">Bedford baptist</a>.
            </p>
        </div>

        <div class="eight offset-by-two columns">
            {% block main %}
            {% endblock %}
        </div>


{% endblock %}
