{% extends "public_base.html" %}

{% block main %}

        <p>
            Please fill in the fields below. All fields are required. 
        </p>

        <p>Vote <strong>yes</strong> if you are in favor of Bedford Baptist
        Church joining the newly incorporated Convention of Atlantic Baptist
        Churches. Vote <strong>no</strong> if you are opposed. 
        </p>

        <p>
            <strong>Privacy:</strong> 
            By submitting your vote, you agree that your name be stored in the database in order that your membership might
            be verified by church staff. However, your vote will remain
            anonymous.
        </p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" value="Submit your vote" /></p>
    </form>


{% endblock %}
