{% extends "staff_base.html" %}

{% block main %}
    <h2>Vote results</h2>
    <div class="four columns">
        <table id="results">
            <tr>
                <td>Total: </td>
                <td>{{ total }}</td>
                <td></td>
            </tr>
            <tr>
                <td>Yes: </td>
                <td>{{ yes }}</td>
                <td>{{ yes_p }} %</td>
            </tr>
            <tr>
                <td>No: </td>
                <td>{{ no }}</td>
                <td>{{ no_p }} %</td>
            </tr>
        </table>
    </div>

    
    <div class="six columns">
        <canvas id="canvas" width="300" height="200">
            <p>Your browser doesn't support the pie chart functionality.</p>
        </canvas>
    </div>

    <script type="text/javascript">
        var data = [{{ yes }}, {{ no }}];
    </script>
{% endblock %}
